.hanoi {
  position: relative;

  .stick {
    background-color: #f00;
    width: 80px;
    height: 100px;
    position: absolute;
    left: 4px;
    float: left;
    border: 1px solid #ff0;
  }

  .stick--a {
    top: 0;
  }

  .stick--b {
    top: 100px;
  }

  .stick--c {
    top: 200px;
  }

  .disk {
    width: 4px;
    display: inline-block;
  }

  .disk--1{
    background-color: #f0f;
    height: 30%;
    top: 35%;
  }

  .disk--2 {
    background-color: #0f0;
    height: 50%;
    top: 25%;
  }

  .disk--3 {
    background-color: #00f;
    height: 70%;
    top: 15%;
  }

  .links {
    position: absolute;
    top: 84px;

    .links-stick {
      display: inline-block;
      width: 100px;
      text-align: center;
    }
  }

  .base {
    background-color: #f00;
    width: 4px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
