.hanoi {
  position: relative;

  .stick {
    background-color: #f00;
    width: 4px;
    height: 80px;
    position: absolute;
    top: 0;
    box-shadow: 2px 2px 2px #888888;
  }

  .stick--a {
    left: 48px;
  }

  .stick--b {
    left: 148px;
  }

  .stick--c {
    left: 248px;
  }

  .disk {
    height: 4px;
    transform: translate(-50%, 0);
    display: inline-block;
    box-shadow: 2px 2px 2px #888888;
  }

  .disk--1{
    background-color: #f0f;
    width: 30px;
  }

  .disk--2 {
    background-color: #0f0;
    width: 50px;
  }

  .disk--3 {
    background-color: #00f;
    width: 70px;

  }

  .links {
    position: absolute;
    top: 84px;

    .links-stick {
      display: inline-block;
      width: 100px;
      text-align: center;
    }
  }

  .base {
    background-color: #ccc;
    width: 300px;
    height: 8px;
    box-shadow: 2px 2px 2px #888888;
    position: absolute;
    top: 80px;
  }
}
